.call-to-action {
    text-align: center;
    width: calc(100% - 200px);
    margin: 4rem auto;
    background-color: $bg-dark;
    padding: 4rem;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    a {
        color: $primary;
        font-size: 1.4rem;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
}